/*---------- Global ----------*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {

	&:hover, &:focus {
		text-decoration: none;
		box-shadow: none !important;
	}
}

#mWrapper {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.journal-content-article {

	dl {
		margin-bottom: 0;
		
		dt {
			display: none;
		}

		dd {
			margin-bottom: 0;
		}
	}

	p {

		&:last-child {
			margin-bottom: 0;
		}
	}
}

picture {

	img {
		max-width: 100%;
		width: 100%;
	}
}

p {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}

.portlet {
	margin-bottom: 15px;

	.portlet-content {
		padding: 0;
		border: 0;
		background-color: transparent;
	}

	.asset-entries-group-label {
		display: none;
	}
}



/*---------- Header ----------*/
#banner {

	img {
		max-width: 100%;
		display: block;
		width: 100%;
	}
}



/*---------- Footer ----------*/
#footer {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-top: 1px solid $main-color;
	padding-top: 15px;
	background-image: url("../images/custom-images/footers/footer-namdan.jpg");

	.row {
		padding: 0 20px;
	}
	
	.sitename {
		text-transform: uppercase;
		font-size: 24px;
		font-family: 'Oswald', sans-serif;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 0 20px;
		color: $secondary-color;
	}

	.infos {
		@include d_flex(flex);
		@include flex_wrap(wrap);

		> div {
			margin-bottom: 5px;
		}

		i {
			width: 20px;
			text-align: center;
			margin-right: 5px;
		}

		.address {
			width: 100%;
		}

		.phone {
			margin-left: 75px;
		}
	}

	p {
		margin-bottom: 0;
	}

	.copyright {
		padding: 10px 20px 5px;
		@include d_flex(flex);
		@include flex_wrap(wrap);
		@include flex_align(center);
		margin-top: 10px;
		color: set-text-color($main-color);
		border-radius: 20px 20px 0 0;
		background-color: $main-color;

		img {
			margin-left: auto;
		}
	}
}

&[class*="xa-"] #footer {
	padding-bottom: 15px;

	.copyright {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	#footer {

		.col-lg-6:last-child {
			text-align: right;
		}
	}
}

@media screen and (max-width: 991px) {
	#footer {

		.sitename {
			margin-bottom: 10px;
		}

		.infos {
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 768px) {
	#footer {

		.sitename {
			font-size: 18px;
		}

		.copyright {

			img {
				margin: 10px 0 5px;
			}
		}
	}
}



/*---------- Navbar ----------*/
#mainNav {
	background-color: $main-color;
	
	ul {
		
		li {
			position: relative;

			&:hover .child-menu {
				display: block;
			}
			
			a {
				color: set-text-color($main-color);
				padding: 10px 15px;
				display: block;
				white-space: nowrap;
				font-weight: bold;
			}
			
			&.active, &:hover {
				background-color: $main-color-light;
			}
		}

		.child-menu {
			background-color: $main-color;
			display: none;
			position: absolute;
			z-index: 1;
			top: 100%;
			left: 0;
		}
	}

	.navbar-toggler {
		margin: 10px 15px;
		border: 1px solid white;
		color: white;
	}
}

.subNav {
	background-color: $main-color-super-light;
	padding: 6px 16px;
	margin-top: -15px;
	@include d_flex(flex);
	@include flex_align(center);
	margin-bottom: 15px;

	.datetimeWrapper {
		font-weight: bold;

		i {
			margin-right: 5px;
		}
	}

	.portlet-boundary_com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet_ {
		margin-left: auto;

		.portlet {
			margin-bottom: 0;
		}

		h2 {
			display: none;
		}

		.input-group-item {

			input {
				height: 30px;
				padding: 0 15px;
				border-radius: 50px 0 0 50px;
				font-size: 14px;
				background-color: white;
				@include box-shadow(none);
			}

			.search-bar-search-button-wrapper {
				padding: 0;
				border-radius: 0 50px 50px 0;

				button {
					border-radius: 0 50px 50px 0;
					font-size: 0;
					background-color: white;
					border: 0;
					padding: 0 10px;
					height: 100%;

					&:before {
						content: "\f002";
						font-family: FontAwesome;
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	#mainNav {

		.navbar-nav {
			display: block;
		}
	}
}



/*---------- Other ----------*/

// Nested portlet
.portlet-nested-portlets {

	> .portlet {
		margin-bottom: 15px;

		.portlet {
			margin-bottom: 0;
		}
	}

	.columns-2 > div > div > div {
		height: 100%;
		
		> div {
			height: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.portlet-nested-portlets {

		.col-md-6 + .col-md-6 {
			margin-top: 15px;
		}
	}
}

// Image ratio 4:3
.img-wrapper {
	position: relative;
	padding-top: 75%;
	overflow: hidden;
	display: block;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		min-width: 100%;
		min-height: 100%;
		max-width: inherit;
		width: 100%;
	}

	&.r169 {
		padding-top: 56.25%;
	}
}