// Sitemap
.main-sitemap {

	.list-menu > ul {
		padding-left: 15px;

		> li {
			position: relative;

			&:before {
				content: "\f111";
				position: absolute;
				top: 7px;
				left: -15px;
				color: $secondary-color;
				font-family: 'FontAwesome';
				font-size: 6px;
			}
		}
	}

	li {
		position: relative;

		a {
			color: $text-color;

			&:hover {
				color: $secondary-color;
			}
		}
	}

	ul {
		position: relative;

		ul {
			padding-left: 30px;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 5px;
				width: 1px;
				height: 100%;
				background-color: $gray-color-dark;
			}

			li {
				
				&:before {
					content: "";
					position: absolute;
					left: -25px;
					top: 10px;
					width: 20px;
					height: 1px;
					background-color: $gray-color-dark;
				}
			}
		}
	}
}


// Pagination
.lfr-pagination {

	.dropdown-toggle {
		font-size: 14px;
		padding: 6px 12px;
	}
}


// Legal documents
.legal-documents {

	.list-group-item {
		background-color: transparent;
		padding: 8px 0 8px 20px;
		border: 0;
		position: relative;

		&:before {
			content: "\f02d";
			font-family: FontAwesome;
			position: absolute;
			top: 4px;
			left: 0;
		}

		&:hover {

			&:before {
				color: $secondary-color;
			}
		}

		.user-icon-color-9, .list-group-subtitle {
			display: none;
		}

		> .autofit-col {
			padding: 0;
		}

		.list-group-title {
			white-space: normal;
		}

		a:hover {
			color: $secondary-color;
		}
	}

	table {
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid $gray-color-dark;
		border-collapse: collapse;

		td {
			padding: 5px 10px !important;
			border: 1px solid $gray-color-dark;
		}
	}

	.main-content-body {
		margin: 0;
		padding: 0;

		.table-responsive {
			margin-bottom: 0;

			* {
				border-radius: 0;
				@include box-shadow(none);
			}

			.table, th, td {
				background-color: transparent;
			}

			th {
				padding: 5px 10px !important;
				border: 1px solid $gray-color-dark;
				color: $text-color;
			}
		}
	}

	.news-title {
		font-size: 18px;
		margin-bottom: 15px;
	}

	hr {
		display: none;
	}
}


// Asset Publisher
.asset-publisher-list-wrapper {

	.news-wrapper {
		overflow: hidden;
		padding-bottom: 10px;
		margin-bottom: 10px;

		.box-img {
			width: 200px;
			float: left;
			margin-right: 10px;
		}

		.news-title {

			a {
				font-size: 16px;
				font-weight: bold;
				display: block;
				color: $text-color;

				&:hover, &:focus {
					color: $secondary-color;
				}
			}
		}

		.sub-info {
			color: $gray-color-dark;
			font-style: italic;
			margin-bottom: 5px;
		}
	}
}


// Relate Assets
.related_asset {

	.related_asset_title {
		margin: 30px 0 5px;
		font-weight: bold;
		text-transform: uppercase;
	}

	ul {

		li {

			a {
				display: block;
				color: $text-color;
				padding: 5px 0 5px 15px;
				position: relative;

				&:before {
					content: "\f111";
					font-family: FontAwesome;
					font-size: 8px;
					color: $gray-color-dark;
					position: absolute;
					top: 10px;
					left: 0;
				}

				&:hover, &:focus {
					color: $secondary-color;

					&:before {
						color: $secondary-color;
					}
				}
			}
		}
	}
}


// Gallery
.gallery-wrapper {
	padding: 15px 0 0;
	@include d_flex(flex);
	@include flex_wrap(wrap);
	
	> .col-sm-3 {
		margin-bottom: 30px;
		width: 33%;
	}
	
	.box {
		padding-top: 75%;
		position: relative;
		
		&:before, &:after {
			content: "";
		    position: absolute;
		    height: 1px;
		    background: #afb7bc;
		    -webkit-transition: all .15s ease-in-out;
		    transition: all .15s ease-in-out;
		}
		
		&:before {
			right: 20px;
		    left: 20px;
		    top: -4px;
		}
		
		&:after {
			right: 10px;
		    left: 10px;
		    top: -2px;
		}
		
		&:hover {
			
			&:before {
				background-color: #8c9296;
				top: -8px;
			}
			
			&:after {
				background-color: #8c9296;
				top: -4px;
			}
		}
	}
	
	a {
		display: block;
		overflow: hidden;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
		
		&:after {
			content: "";
			background: -webkit-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 50%,transparent);
			background-color: linear-gradient(0deg,rgba(0,0,0,.9) 0,transparent 50%,transparent);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			pointer-events: none;
		}
		
		&:hover {
			
			.info {
				color: $main-color;
			}
		}
	}
	
	.info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		color: white;
		padding: 15px;
		
		.title {
			font-weight: bold;
		}

		.count {
			display: none;
		}
	}
	
	img {
		width: 100%;
		min-height: 100%;
		min-width: 100%;
		max-width: inherit;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
}

.gallery-title-wrapper {

	&.column-view {
		color: $main-color;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin-bottom: 15px;
	    position: relative;
	    border-bottom: 2px solid $main-color;
	    padding-bottom: 5px;

	    &:before {
	    	content: "\f03e";
	    	font-family: FontAwesome;
	    	margin-right: 5px;
	    }
	}
}

.gallery-detail-wrapper {

	.btn-monospaced {
		background: transparent none;
	    border: 1px solid $main-color;
	    color: $main-color;
	    border-radius: 4px;
	    padding: 8px 36px 8px 20px;
	    text-transform: uppercase;
	    margin-bottom: 15px;
	    height: auto;
	    @include box-shadow(none !important);

	    &:hover {
	    	background-color: $main-color;
	    	color: white;
	    }
	}
	
	.main-img {
		position: relative;
		
		&:after {
			content: "";
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0,0,0,0.5);
		    display: none;
		}

		img {
			display: block;
			margin: auto;
			display: none;
		}
		
		.info {
		    z-index: 1;
		    color: $main-color;
		    font-size: 36px;
		    text-align: center;
		    text-transform: uppercase;
		    
		    .count {
		    	font-size: 16px;
			    margin-bottom: 30px;
		    }
		}
	}
	
	#mygallery {
		margin: 0 -5px;
		width: -webkit-calc(100% + 10px);
		width: calc(100% + 10px);
	}

	&.column-view {

		> div {
			@include d_flex(flex);
			@include flex_wrap(wrap);
		}
		
		a {
			width: -webkit-calc((100% - 30px) / 3);
			width: calc((100% - 30px) / 3);
			display: block;
			margin-bottom: 15px;
			float: left;

			&:not(:nth-child(3n)) {
				margin-right: 15px;
			}

			p {
				margin-top: 10px;
				margin-bottom: 0;
				color: $text-color;
			}
		}
	}
}


.fancybox-thumbs {
	top: auto;
	width: auto;
	bottom: 0;
	left: 0;
	right : 0;
	height: 80px;
	padding: 10px 10px 5px 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
}
.fancybox-show-thumbs .fancybox-inner {
	right: 0;
	bottom: 80px;
}


.slick-slider {
	margin: 0 -10px;

	.slick-slide {
		margin: 0 10px;

		a {
			display: block;
			padding-top: 75%;
			overflow: hidden;
			position: relative;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
			min-width: 100%;
			min-height: 100%;
			width: 100%;
		}

		.title {
			pointer-events: none;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.5);
			color: white;
			margin: 0;
			padding: 5px 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&:hover {

		.slick-prev, .slick-next {
			display: inline-block !important;
		}			
	}

	.slick-prev, .slick-next {
	    background-color: white;
	    width: 30px;
	    height: 30px;
	    display: none !important;
	    z-index: 1;

		&:before {
			font-family: FontAwesome;
			color: $main-color;
			font-size: 14px;
		}
	}

	.slick-prev {
		left: -5px;

		&:before {
			content: "\f053";
		}
	}

	.slick-next {
		right: -5px;

		&:before {
			content: "\f054";
		}
	}
}


// Statistics
.visitor-tracking-wraper {

	.tracking-label {
		width: 120px;
		white-space: nowrap;
		display: inline-block;
	}

	.tracking-value {
		font-weight: bold;
		color: $secondary-color;
	}
}


// Q&A
body .portlet-boundary_frontend_web_faq_FrontendWebFaqPortlet_ {

	.theme--light.v-sheet {
		background-color: transparent;
		border: 0;
		@include box-shadow(none);
	}

	.v-application {

		* {
			font-size: 14px !important;
		}
	}
}


// Budget Report
.portlet-boundary_frondend_web_budget_report_FrondendWebBudgetReportPortlet_ {

	.main-content-body {
		margin: 0;
		padding: 0;
	}

	.table-responsive {
		margin-bottom: 15px;
	}

	table {
		border-collapse: collapse;

		th {
			min-width: inherit !important;
			padding: 10px !important;
			text-align: center;
			color: $text-color;
			border: 1px solid $gray-color-medium;

			&:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
				width: 1%;
			}
		}

		td {
			white-space: normal;
			min-width: inherit !important;
			width: auto !important;
			padding: 10px !important;
			border: 1px solid $gray-color-medium;
			word-break: break-all;

			&:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
				text-align: center;
			}

			&:nth-child(2) {
				word-break: normal;
			}
		}
	}
}


// Video
.video-player-default-style {

	.video-playlist {
		position: relative;
		padding: 0 10px 30px;

		> div > div {
			position: inherit;

			&:first-child {
				max-width: 100%;
			    flex-basis: 100%;
			    padding-right: 24px;
			}
		}

		&:before {
			content: "\f0dd";
			font-family: 'FontAwesome';
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			text-align: center;
			color: $gray-color-dark;
		}

		select {
			background-color: transparent;
		    border: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 24px;
		    max-width: inherit !important;
		    -moz-appearance: none;
		    -webkit-appearance: none;
		    text-indent: 24px;
		}
	}

	.icon-detail {
		position: absolute;
		bottom: 0;
		right: 0;
		font-family: 'Roboto', sans-serif;
	}
}

.portlet-boundary_web_video_link_VideoLinkPortlet_ {

	.video-box {
		margin-bottom: 15px;

		.video-title {

			a {
				display: block;
				margin-top: 5px;
				color: $text-color;

				&:hover {
					color: $main-color;
				}
			}
		}
	}
}


// Transitions run up from bottom
.run-up-animate {

	.portlet-content-container {
		padding: 15px;
	}

	.portlet-body {
		overflow: hidden;
		padding: 0 !important;
	}

	ul {
		@include animation(run-up 25s infinite linear);
		margin: 0;

		&:hover {
			@include animation-pause(paused);
		}

		li {
			padding: 0;
			border: 0;

			> div {
				padding: 0 !important;
			}

			.sticker, p {
				display: none;
			}

			h4 {
				white-space: normal;
			}

			a {
				display: block;
				padding: 10px 0 10px 15px;
				position: relative;

				&:before {
					content: "\f111";
					position: absolute;
					top: 17px;
					left: 0;
					color: $secondary-color;
					font-family: 'FontAwesome';
					font-size: 6px;
				}

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}

@keyframes run-up {
	0% {
	    transform: translateY(110%);
	}
	100% {
	    transform: translateY(-110%);
	}
}