
huyen-theme/.settings/

huyen-theme/.classpath

huyen-theme/.project

huyen-theme/build/

frontend-admin-theme/.classpath

frontend-admin-theme/.project

frontend-admin-theme/.settings/

layout-9-3/.settings/

layout-9-3/.classpath

layout-9-3/.project

nam-dan/.settings/

nam-dan/.classpath

nam-dan/.project

nam-dan-2/.settings/

nam-dan-2/.classpath

nam-dan-2/bin/

nam-dan-2/.project

bundles/

**/!bnd.bnd
**/!build.gradle
**/indexes.sql
**/sequences.sql
**/tables.sql
**/module-hbm.xml
**/portlet-model-hints.xml
**/module-spring.xml 
**/sql/**
**/**/**.sql
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib


**/.DS_Store

**/**/.settings
/.metadata/
