body {
	
	&.namdan-theme {
		$main-color: #046fcf;
		$secondary-color: #df0024;
		$main-text-color: #046fcf;
		
		background-color: white;

		.notify-wrapper {
			display: none;
		}
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "namdan_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-honglong {
		/*$main-color: #f9de71;
		$secondary-color: #c90126;
		$main-text-color: #bf9f1f;*/
		$main-color: #046fcf;
		$secondary-color: #df0024;
		$main-text-color: #046fcf;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		/*#mainNav ul li a {color: white;}*/
	}
	
	&.xa-hungtien, &.xa-namxuan, &.xa-thuongtanloc, &.xa-trungphuccuong {
		$main-color: #10406d;
		$secondary-color: #fff001;
		$main-text-color: #10406d;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-khanhson {
		$main-color: #ddffbb;
		$secondary-color: #d30201;
		$main-text-color: #458406;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: #046fcf;}
	}
	
	&.xa-kimlien {
		$main-color: #046fcf;
		$secondary-color: #df0024;
		$main-text-color: #046fcf;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-namanh {
		$main-color: #349dfb;
		$secondary-color: #004a8d;
		$main-text-color: #349dfb;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: white;}
	}
	
	&.xa-namcat {
		$main-color: #5cb85c;
		$secondary-color: #0101ff;
		$main-text-color: #5cb85c;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: white;}
	}
	
	&.xa-namgiang {
		/*$main-color: #f1bf76;
		$secondary-color: #d20100;
		$main-text-color: #f1bf76;*/
		$main-color: #046fcf;
		$secondary-color: #df0024;
		$main-text-color: #046fcf;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		/*#mainNav ul li a {color: white;}*/
	}
	
	&.xa-namhung {
		$main-color: #fdb31d;
		$secondary-color: #bf2b26;
		$main-text-color: #fdb31d;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: white;}
	}
	
	&.xa-namkim {
		$main-color: #c9302c;
		$secondary-color: #fff001;
		$main-text-color: #c9302c;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-namlinh {
		$main-color: #0642a6;
		$secondary-color: #fff001;
		$main-text-color: #0642a6;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-namnghia {
		$main-color: #feb011;
		$secondary-color: #ef0430;
		$main-text-color: #feb011;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: white;}
	}
	
	&.xa-namthai {
		$main-color: #9dd223;
		$secondary-color: #00844d;
		$main-text-color: #9dd223;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-namthanh {
		$main-color: #2593ee;
		$secondary-color: #fff001;
		$main-text-color: #2593ee;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
		
		#mainNav ul li a {color: white;}
	}
	
	&.xa-trannamdan {
		$main-color: #0a5702;
		$secondary-color: #57c915;
		$main-text-color: #0a5702;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-xuanhoa {
		$main-color: #025a9b;
		$secondary-color: #fff001;
		$main-text-color: #025a9b;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}
	
	&.xa-xuanlam {
		$main-color: #ef0632;
		$secondary-color: #05577f;
		$main-text-color: #ef0632;
	
		@import "main_variables";
		@import "mixin";
		@import "base_style";
		@import "custom_style";
		@import "override_style";
	}



	@media screen and (max-width: 767px) {
		#banner, #mainNav, .subNav, #footer {
			margin: 0 -12px;
		}
	}
}