// Backend Variable
$main-blue: #025ecf;
$main-blue-dark-1: #1f4675;
$main-blue-dark-2: #19375c;
$main-blue-dark-3: #112946;
$main-blue-light: #65b6f0;



body {

.control-menu {
    background-color: $main-blue;

    .text-muted {
    	color: #f9f9f9 !important;
    }

	.sidebar-header {
		background-color: $main-blue;
		font-weight: bold;
	}

	.sidebar-body {
		background-color: $main-blue-dark-3;

		.panel {

			&:not(:first-of-type) {
				border-top: 1px solid $main-blue-light;
			}
		}

		.panel-toggler {
			background-color: $main-blue-dark-1 !important;
		}

		.panel-body {
			background-color: $main-blue-dark-2;
		}
		
		.list-group-heading {
			
			&.active {
				
				&:focus {
					background-color: $main-blue-dark-1;
				}
				
				+ div {
					background-color: $main-blue-dark-2;
				}
			}
		}
	}
}

}