/*----------------------------------------
				Global
----------------------------------------*/
.mBody {

	.portlet-header {
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid $secondary-color;

		.portlet-title-text {
			margin-bottom: 0;
			color: $secondary-color;
			font-size: 22px;
		}
	}
}



/*----------------------------------------
			Asset Publisher
----------------------------------------*/
.asset-publisher-list-wrapper {
		
	.news-wrapper {
		margin-bottom: 20px;
		@include d_flex(flex);
	
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.box-img {
		width: 220px;
		margin-right: 15px;
		-webkit-flex-shrink: 0;
		flex-shrink: 0;
	}
	
	.news-title {
		margin: 0 0 5px;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 0;
		line-height: normal;
		
		a {
			color: $text-color;

			&:hover, &:focus {
				text-decoration: none;
				color: $main-color;
			}
		}
	}
	
	.sub-info {
		margin-bottom: 5px;
	}
}

.asset-full-content {
	margin-bottom: 0 !important;

	.asset-content {
		margin-bottom: 30px !important;
	}
	
	.asset-title {
		font-size: 18px !important;
		font-weight: bold;
		margin: 0 0 15px;
	}
	
	.header-back-to {
		display: none;
	}
	
	.metadata-author {
		margin-bottom: 15px !important;
	    font-size: inherit;
	    
	    div {
	    	padding: 0;
	    }
	    
	    .autofit-row > div {
	    	@include d_flex(flex);
	    	@include flex_direction(row);
	    	
	    	.view-count-info {
	    		
	    		&:before {
	    			content: " - ";
	    			white-space: pre;
	    		}
	    	}
	    }
	}
	
	.lexicon-icon-social-facebook {
		display: inline-block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    font-size: 22px;
	    color: #415e96;
	}
}

.related_asset {
	border-top: 2px dashed $main-color;
	padding: 15px 0 0;
	
	.related_asset_title {
		font-size: 16px;
		color: $main-color;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	
	ul {
		
		li {
			
			a {
				display: block;
				color: $text-color;
				position: relative;
				padding: 5px 0 5px 15px;

				&:before {
					content: "\f0da";
					font-family: FontAwesome;
					position: absolute;
					left: 0;
					top: 6px;
					color: $gray-color;
				}
				
				&:hover, &:focus {
					color: $main-color;
				}
			}
		}
	}
}

.advertise {

	li {

		a {
			display: block;
			padding: 5px 0 5px 15px;
			position: relative;
			color: $text-color;

			&:before {
				content: "\f111";
				font-family: FontAwesome;
				color: $secondary-color;
				font-size: 6px;
				position: absolute;
				top: 12px;
				left: 0;
			}

			&:hover {
				color: $secondary-color;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.asset-publisher-list-wrapper {
			
		.news-wrapper {
			margin-bottom: 20px;
			@include flex_wrap(wrap);
		}
		
		.box-img {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}



/*----------------------------------------
			Custom Links
----------------------------------------*/
.links-group {
	@include d_flex(flex);
	@include flex_wrap(wrap);

	a {
		display: block;
		border: 1px solid $main-color;
		padding: 75px 15px 15px;
		color: $main-color;
		font-weight: bold;
		font-size: 16px;
		width: calc((100% - 30px) / 2);
		background-repeat: no-repeat;
		background-position: center top 15px;
		text-align: center;

		&:nth-child(-n+4) {
			margin-bottom: 30px;
		}

		&:nth-child(odd) {
			margin-right: 30px;
		}

		&:hover {
			color: $secondary-color;
			border-color: $secondary-color;
		}

		&:nth-child(1) {
			background-image: url("../images/custom-images/icon-1-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-1-red.png");
			}
		}

		&:nth-child(2) {
			background-image: url("../images/custom-images/icon-2-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-2-red.png");
			}
		}

		&:nth-child(3) {
			background-image: url("../images/custom-images/icon-3-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-3-red.png");
			}
		}

		&:nth-child(4) {
			background-image: url("../images/custom-images/icon-4-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-4-red.png");
			}
		}

		&:nth-child(5) {
			background-image: url("../images/custom-images/icon-5-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-5-red.png");
			}
		}

		&:nth-child(6) {
			background-image: url("../images/custom-images/icon-6-blue.png");

			&:hover {
				background-image: url("../images/custom-images/icon-6-red.png");
			}
		}
	}
}

.home-theme .links-group {

	a {
		border: 0;
		width: calc((100% - 30px) / 3);
		background-position: center top;
		margin-bottom: 15px !important;
		padding: 60px 15px 0;

		&:nth-child(odd) {
			margin-right: 0;
		}

		&:nth-child(2), &:nth-child(5) {
			margin-left: 15px;
			margin-right: 15px;
		}

		&:hover {
			color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}

@media screen and (max-width: 1279px) {
	.links-group {

		a {
			font-size: 14px;
			width: calc((100% - 30px) / 2);

			&:nth-child(-n+4) {
				margin-bottom: 15px;
			}

			&:nth-child(odd) {
				margin-right: 15px;
			}
		}
	}
}


.links-img {
	
	.slick-arrow {
		width: 30px;
		height: 30px;
		border: 1px solid $gray-color-dark;
		@include transform(none);
		top: -45px;
	
		&:before {
			content: "";
			font-family: FontAwesome;
			color: $gray-color-dark;
			opacity: 1;
		}
		
		&:hover {
			border: 1px solid $main-color;
			
			&:before {
				color: $main-color;
			}
		}
		
		&.slick-prev {
		    left: auto;
		    right: 45px;
		    
		    &:before {
		    	content: "\f104";
		    }
		}
		
		&.slick-next {
		    right: 0;
		    
		    &:before {
		    	content: "\f105";
		    }
		}		
	}
}



/*----------------------------------------
				Sitemap
----------------------------------------*/
#content .portlet-boundary_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_ {

	li {

		a {
			display: block;
			padding: 10px 0 10px 15px;
			border-bottom: 1px dotted $gray-color;
			color: $text-color;
			position: relative;
			font-weight: bold;

			&:before {
				content: "\f111";
				font-family: FontAwesome;
				color: $main-color;
				font-size: 8px;
				position: absolute;
				top: 15px;
				left: 0;
			}

			&:hover {
				color: $secondary-color;
			}
		}

		&:first-child {

			a {
				padding-top: 0;

				&:before {
					top: 5px;
				}
			}
		}

		&.active {

			> a {
				color: $secondary-color;
			}
		}

		ul {

			li {

				a {
					padding-left: 30px;

					&:before {
						left: 15px;
					}
				}

				&:first-child {

					a {
						padding-top: 10px;

						&:before {
							top: 15px;
						}
					}
				}
			}
		}
	}
}

#content .main-sitemap {

	.list-menu > ul {
		padding-left: 15px;

		> li {
			position: relative;

			&:before {
				content: "\f111";
				position: absolute;
				top: 12px;
				left: -15px;
				color: $secondary-color;
				font-family: 'FontAwesome';
				font-size: 6px;
			}
		}
	}

	li {
		position: relative;

		a {
			color: $text-color;
			border-bottom: 0;
			padding: 5px 0 !important;

			&:before {
				display: none;
			}

			&:hover {
				color: $secondary-color;
			}
		}

		&:last-child {

			ul {

				&:before {
					height: 75%;
				}
			}
		}
	}

	ul {
		position: relative;

		ul {
			padding-left: 30px;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 5px;
				width: 1px;
				height: 100%;
				background-color: $gray-color-dark;
			}

			li {
				
				&:before {
					content: "";
					position: absolute;
					left: -25px;
					top: 15px;
					width: 20px;
					height: 1px;
					background-color: $gray-color-dark;
				}
			}
		}
	}
}



/*----------------------------------------
			Hot News Home
----------------------------------------*/
.slide-with-side-list {

	.side-news-list {
		display: none;
	}

	.slick-arrow {
		display: none !important;
	}

	.slick-slider {
		margin-bottom: 0 !important;
	}

	.news-with-side-list-slider {
		@include flex_variables(0 0 100%);
		max-width: 100%;

		a {
			position: relative;
			padding-top: 65%;
			overflow: hidden;
			display: block;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%,-50%));
				width: 100%;
				min-height: 100%;
				min-width: 100%;
				max-width: inherit;
			}

			span {
				color: white;
				position: absolute;
				bottom: 0;
				padding: 15px 15px 45px;
				left: 0;
				width: 100%;
				background-color: rgba(0,0,0,0.6);
				font-weight: bold;
			}
		}
	}

	.slick-dots {
		bottom: 15px;

		li {
			margin: 0;

			button {
				padding: 0;

				&:before {
					content: "\f10c";
					font-family: FontAwesome;
					color: white;
					opacity: 1;
					font-size: 12px;
				}
			}

			&.slick-active {

				button {

					&:before {
						content: "\f111";
						color: white;
						opacity: 1;
					}
				}
			}
		}
	}
}



/*----------------------------------------
			Tabs Homepage
----------------------------------------*/
.home-theme .weblink-wrapper {

	.nav {
		@include d_flex(flex);
		margin-bottom: -1px;

		a {
			display: block;
			border: 1px solid $main-color;
			color: $main-color;
			text-transform: uppercase;
			padding: 6px 15px;
			border-radius: 6px 6px 0 0;

			&.active {
				background-color: $main-color;
				color: white;
			}
		}
	}

	.tab-content {
		padding: 10px;
		overflow: auto;
		border: 1px solid $gray-color-light;
		border-top: 1px solid $main-color;
		max-height: 200px;
		
		.tab-pane {
			padding: 0;

			.other-news {

				a {
					display: block;
					position: relative;
					padding: 10px 0 10px 15px;
					color: $text-color;

					&:before {
						content: "\f0c8";
						font-family: FontAwesome;
						font-size: 8px;
						color: $gray-color;
						position: absolute;
						top: 15px;
						left: 0;
					}

					&:hover {
						color: $main-color;

						&:before {
							color: $main-color;
						}
					}
				}
			}
		}
	}
}



/*----------------------------------------
				SEARCH
----------------------------------------*/
.mBody .portlet-boundary_com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet_ {
	max-width: 1600px;
	margin: 30px auto 15px;
	padding: 0 15px;
}

.mBody .portlet-boundary_com_liferay_portal_search_web_search_results_portlet_SearchResultsPortlet_ {
	max-width: 1600px;
	margin: 0 auto 30px;
	padding: 0 15px;
	
	.list-group-item {
		
		> div:first-child {
			display: none;
		}
	}

	.search-total-label {
		margin-top: 0;
	}
}

@media screen and (max-width: 1366px) {
	.mBody .portlet-boundary_com_liferay_portal_search_web_search_bar_portlet_SearchBarPortlet_ {
		max-width: 1200px;
	}

	.mBody .portlet-boundary_com_liferay_portal_search_web_search_results_portlet_SearchResultsPortlet_ {
		max-width: 1200px;
	}
}



/*----------------------------------------
			Visitor Tracking
----------------------------------------*/
.visitor-tracking-wraper {
	@include d_flex(flex);
	@include flex_justify(center);
	margin-top: 10px;
	
	.tracking-label {
		font-weight: bold;
	}
	
	.tracking-value {
		font-size: 16px;
	}
	
	.current-visitor-online {
		margin-right: 15px;
	}
}