/*---------- Global ----------*/
body {
	background-color: white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {

	&:hover, &:focus {
		text-decoration: none;
		box-shadow: none !important;
	}
}

#mWrapper {
	font-size: 14px;
	font-family: 'Roboto';
}

.journal-content-article {

	dl {
		margin-bottom: 0;
		
		dt {
			display: none;
		}

		dd {
			margin-bottom: 0;
		}
	}

	p {

		&:last-child {
			margin-bottom: 0;
		}
	}
}

picture {

	img {
		max-width: 100%;
		width: 100%;
	}
}

p {
	margin-bottom: 10px;
}

img {
	max-width: 100%;
}

.portlet {
	margin-bottom: 15px;

	.portlet-content {
		padding: 0;
		border: 0;
		background-color: transparent;
	}

	.asset-entries-group-label {
		display: none;
	}
}


@media screen and (min-width: 1300px) {
    .container {
        min-width: 1300px;
    }
}



/*---------- Header ----------*/
.signed-in #banner {
	padding-top: 100px;
}
		
#banner {

	img {
		max-width: 100%;
		display: block;
		width: 100%;
	}
	
	.portlet-header {
		display: none;
	}
			
	.portlet {
		margin-bottom: 0 !important;
	}
}



/*---------- Footer ----------*/
#footer {
	padding: 20px 15px 10px;
    background: url('../images/bg-footer.jpg') left bottom no-repeat;
    background-size: cover;
    color: $secondary-color-dark;
    
    .site-info {
	    display: flex;
	}
	
	 img {
	    margin-right: 20px;
		margin-top: -15px;
		margin-left: 10px;
	}
	
	.sitename {
	    text-transform: uppercase;
	}
	
	.infos {
		
		padding-left: 53px;
		> div {
		    display: flex;
		    align-items: baseline;
		}
		
		i {
		    margin-right: 10px;
		    width: 14px;
		    text-align: center;
		}
	}
	
	.portlet-header {
		display: none;
	}
			
	.portlet {
		margin-bottom: 0 !important;
	}
}

@media screen and (min-width: 992px) {
	#footer {

		.col-lg-6:last-child {
			text-align: right;
		}
	}
}

@media screen and (max-width: 991px) {
	#footer {

		.sitename {
			margin-bottom: 10px;
		}

		.infos {
			margin-bottom: 10px;
			padding-left: 53px;
		}
	}
}

@media screen and (max-width: 767px) {
	#footer {

		.sitename {
			font-size: 18px;
		}

		.copyright {

			img {
				margin: 10px 0 5px;
			}
		}
		
		.infos {
			padding-left: 53px;
			> div {
				width: 100%;
			}
			
			.phone {
				margin: 0;
			}
		}
	}
}



/*---------- Navbar ----------*/
#mainNav {
	@include background-gradient(#5b0303, #df0023);
    margin-bottom: 20px;
    
    li {
    
    	a {
    		color: white;
		    padding: 10px 15px;
		    display: block;
		    text-decoration: none;
    	}
    	
    	> i {
    		display: none;
    	}
    	
    	.child-menu {
		    display: none;
		    position: absolute;
		    top: 100%;
		    @include background-gradient(#5b0303, #df0023);
		    z-index: 2;
		    list-style: none;
		    padding: 0;
		}
		
		&:hover {
			
			.child-menu {
				display: block;
			}
			
			> a {
				font-weight: bold;
			}
		}
		
		&.active {
			
			> a {
				font-weight: bold;
			}
		}
    }
    
    .navbar-nav {
    	
    	> li:first-child {
    		position: relative;
			background-color: $secondary-color;
			margin-left: 10px;
			
			&:before {
				content: "";
			    width: 0;
			    height: 0;
			    border-bottom: 5px solid #304b04;
			    border-left: 5px solid transparent;
			    position: absolute;
			    top: -5px;
			    left: -5px;
			}
			
			&:after {
				content: "";
			    width: 0;
			    height: 0;
			    width: 0;
			    height: 0;
			    border-left: 20px solid transparent;
			    border-right: 20px solid transparent;
			    border-top: 10px solid $secondary-color;
			    position: absolute;
			    top: 100%;
			    left: 0;
			}
			
			> a {
				font-size: 0;
			    padding: 10px 20px;
			    height: 100%;
			    position: relative;
			    
			    &:before {
			    	content: "";
				    position: absolute;
				    bottom: 100%;
				    left: 0;
				    right: 0;
				    background-color: $secondary-color;
				    height: 5px;
			    }
			    
			    &:after {
			    	content: "\f015";
				    font-family: FontAwesome;
				    font-size: 24px;
				    font-weight: normal;
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%,-50%);
			    }
			}
    	}
    }
    
    /*--- Search ---*/
    .search {
	    display: -webkit-box;
	    display: flex;
	    position: relative;
	    margin-right: 15px;
		padding: 5px 0;
		.portlet {
			margin-bottom: 0px!important;
		}
	    input {
	    	// border: 0;
		    // border-radius: 4px;
		    // box-shadow: none;
		    // width: 260px;
		    // font-size: 14px;
		    // height: 26px;
		    // background-color: white;
		    // margin: 8px 0;
	    }
	    .form-control {
			height: 26px;
    		font-size: 0.875rem;
		}
	    .bt_search {
	    	background-color: transparent;
		    border: 0;
		    color: $main-color;
		    position: absolute;
		    top: 0;
		    right: 0;
		    width: 34px;
		    height: 100%;
		    padding: 0;
	    }
	}
}


/*---------- Other ----------*/

// Nested portlet
#content .portlet-nested-portlets {

	> .portlet {
		margin-bottom: 15px;
		border: 0;

		> div > div > .portlet-body {
			padding: 0;
		}

		.portlet {
			margin-bottom: 0;
		}
	}

	.columns-2, .columns-3 {

		> div > div > div {
			height: 100%;
			
			> div {
				height: 100%;

				> .portlet {
					height: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.portlet-nested-portlets {

		.col-md-6 + .col-md-6 {
			margin-top: 15px;
		}
	}
}


// Image ratio 4:3
.img-wrapper {
	position: relative;
	padding-top: 75%;
	overflow: hidden;
	display: block;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		min-width: 100%;
		min-height: 100%;
		max-width: inherit;
		width: 100%;
	}

	&.r169 {
		padding-top: 56.25%;
	}
}


// Fix Admin
.asset-full-content {

	h4 {
		
		.asset-title {
		
			+ * {
				display: none !important;
			}
		}
	}
}


// Transitions run up from bottom
.run-up-animate {

	.portlet-content-container {
		padding: 15px;
	}

	.portlet-body {
		overflow: hidden;
		padding: 0 !important;
	}

	ul {
		@include animation(run-up 20s infinite linear);
		margin: 0;
		min-height: 300px;

		&:hover {
			@include animation-pause(paused);
		}

		li {
			padding: 0;
			border: 0;

			> div {
				padding: 0 !important;
			}

			.sticker, p {
				display: none;
			}

			h4 {
				white-space: normal;
			}

			a {
				display: block;
				padding: 10px 0 10px 15px;
				position: relative;

				&:before {
					content: "\f111";
					position: absolute;
					top: 17px;
					left: 0;
					color: $secondary-color;
					font-family: 'FontAwesome';
					font-size: 6px;
				}

				&:hover {
					color: #046fcf;
				}
			}
		}
	}
}

@keyframes run-up {
	0% {
	    transform: translateY(110%);
	}
	100% {
	    transform: translateY(-110%);
	}
}