// Main Variable
$main-color: #ce1212;
$secondary-color: #72b71f;
$main-text-color: #2a2a2a;
$secondary-text-color: #246e48;
$main-color-light: lighten($main-color, 8%);
$main-color-super-light: lighten($main-color, 55%);
$gray-color: #f6f6f6;
$gray-color-medium: #ebebeb;
$gray-color-dark: #a7a7a7;
$text-color: #000;
$text-color-2: #939393;