@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
		 url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
		 url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
		 url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}




@import url(app.css);
@import url(alpaca-old-form.css);
@import url(select2.min.css);
@import url(date-time-picker.css);
@import url(custom-style.css);
@import url(bootstrap-glyphicons.css);
@import url(font-awesome.min.css);
@import url(base-style.css);