@charset "UTF-8";
.old-form .table.dsFormTable>tbody>tr:first-child td,
.old-form .table.dsFormTable>tbody>tr:nth-child(2) td,
.old-form .text-b {
    font-weight: 700
}

.old-form .alpaca-field legend {
    font-size: 100% !important;
    line-height: 200% !important;
    border-bottom: 0;
    margin-bottom: 0 !important
}

.old-form .alpaca-field-object {
    border: 0 solid #eee !important;
    padding: 15px 0 0 !important
}

.old-form .text-input-center input {
    text-align: center
}

.old-form .text-i {
    font-style: italic
}

.old-form .text-u {
    font-style: underline
}

.old-form .alpaca-control-label {
    position: absolute;
    margin-top: 0;
    line-height: 34px;
}

.old-form .alpaca-container-item input {
    /*border-bottom:1px solid #dcdcdc!important;border-top:0!important;border-left:0!important;border-right:0!important;margin-bottom:0!important;border-radius:0;height:20px;*/
    background-color: transparent !important;
    -webkit-box-shadow: inset 0 0 0 transparent !important;
    -moz-box-shadow: inset 0 0 0 transparent !important;
    box-shadow: inset 0 0 0 transparent !important;
    -webkit-transition: border linear 0s, box-shadow linear 0s !important;
    -moz-transition: border linear 0s, box-shadow linear 0s !important;
    -o-transition: border linear 0s, box-shadow linear 0s !important;
    transition: border linear 0s, box-shadow linear 0s !important;
    width: 80%;
    margin-left: 20%;
    padding: 0 !important;
	border-bottom: 1px solid #ddd !important;
}
.old-form .alpaca-container-item .alpaca-field:before {
	display: none;
}
.old-form .alpaca-field select {
    background-color: #fff !important;
    border-bottom: 1px solid #dcdcdc !important;
    border-top: 0 solid #dcdcdc !important;
    border-left: 0 solid #dcdcdc !important;
    border-right: 0 solid #dcdcdc !important
}

.old-form .alpaca-layout-binding-holder {
    margin-bottom: 10px !important;
}

.old-form .form-input-10 input,
.old-form .form-input-10 select,
.old-form .form-input-10 textarea {
    width: 10% !important;
    margin-left: 90% !important
}

.old-form .form-input-15 input,
.old-form .form-input-15 select,
.old-form .form-input-15 textarea {
    width: 15% !important;
    margin-left: 85% !important
}

.old-form .form-input-20 input,
.old-form .form-input-20 select,
.old-form .form-input-20 textarea {
    width: 20% !important;
    margin-left: 80% !important
}

.old-form .form-input-25 input,
.old-form .form-input-25 select,
.old-form .form-input-25 textarea {
    width: 25% !important;
    margin-left: 75% !important
}

.old-form .form-input-30 input,
.old-form .form-input-30 select,
.old-form .form-input-30 textarea {
    width: 30% !important;
    margin-left: 70% !important
}

.old-form .form-input-35 input,
.old-form .form-input-35 select,
.old-form .form-input-35 textarea {
    width: 35% !important;
    margin-left: 65% !important
}

.old-form .form-input-40 input,
.old-form .form-input-40 select,
.old-form .form-input-40 textarea {
    width: 40% !important;
    margin-left: 60% !important
}

.old-form .form-input-45 input,
.old-form .form-input-45 select,
.old-form .form-input-45 textarea {
    width: 45% !important;
    margin-left: 55% !important
}

.old-form .form-input-50 input,
.old-form .form-input-50 select,
.old-form .form-input-50 textarea {
    width: 50% !important;
    margin-left: 50% !important
}

.old-form .form-input-55 input,
.old-form .form-input-55 select,
.old-form .form-input-55 textarea {
    width: 55% !important;
    margin-left: 45% !important
}

.old-form .form-input-60 input,
.old-form .form-input-60 select,
.old-form .form-input-60 textarea {
    width: 60% !important;
    margin-left: 40% !important
}

.old-form .form-input-65 input,
.old-form .form-input-65 select,
.old-form .form-input-65 textarea {
    width: 65% !important;
    margin-left: 35% !important
}

.old-form .form-input-70 input,
.old-form .form-input-70 select,
.old-form .form-input-70 textarea {
    width: 70% !important;
    margin-left: 30% !important
}

.old-form .form-input-75 input,
.old-form .form-input-75 select,
.old-form .form-input-75 textarea {
    width: 75% !important;
    margin-left: 25% !important
}

.old-form .form-input-80 input,
.old-form .form-input-80 select,
.old-form .form-input-80 textarea {
    width: 80% !important;
    margin-left: 20% !important
}

.old-form .form-input-85 input,
.old-form .form-input-85 select,
.old-form .form-input-85 textarea {
    width: 85% !important;
    margin-left: 15% !important
}

.old-form .form-input-90 input,
.old-form .form-input-90 select,
.old-form .form-input-90 textarea {
    width: 90% !important;
    margin-left: 10% !important
}

.old-form .form-input-95 input,
.old-form .form-input-95 select,
.old-form .form-input-95 textarea {
    width: 95%;
    margin-left: 5%
}

.old-form .form-input-100 input,
.old-form .form-input-100 select {
    width: 100% !important;
    margin-left: 0 !important
}

.old-form .form-input-100 textarea {
    width: 100% !important;
    margin-left: 0
}

.old-form .alpaca-message {
    display: none !important
}

.old-form .glyphicon-star {
    float: right;
    color: red;
    margin: 2px 0 0 2px;
    font-size: 8px
}

.old-form .has-error .checkbox,
.old-form .has-error .checkbox-inline,
.old-form .has-error .control-label,
.old-form .has-error .form-control-feedback,
.old-form .has-error .help-block,
.old-form .has-error .radio,
.old-form .has-error .radio-inline,
.old-form .has-error.checkbox label,
.old-form .has-error.checkbox-inline label,
.old-form .has-error.radio label,
.old-form .has-error.radio-inline label {
    color: #a94442
}

.old-form .table-top11 input {
    height: 30px !important;
    border-left: 1px solid #dcdcdc !important;
    border-bottom: 0 !important
}

.old-form .table-top11 {
    margin-top: -11px
}

.old-form .table-border {
    border: 1px solid #dcdcdc
}

.old-form .row-pading0 {
    padding-top: 0 !important
}

.old-form .row-top10 {
    margin-top: -10px
}

.old-form .row-top20 {
    margin-top: -20px
}

.old-form .row-top30 {
    margin-top: -30px
}

.old-form .margin-top-10 {
    margin-top: 10px
}

.old-form .margin-top-20 {
    margin-top: 20px
}

.old-form .margin-top-30 {
    margin-top: 30px
}

.old-form .has-error .form-control {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.old-form .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.old-form .has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442
}

.old-form .alpaca-field-table table tr th {
    vertical-align: inherit !important
}

.old-form .alpaca-array-actionbar .btn-group-sm>.btn,
.old-form .alpaca-array-actionbar .btn-sm {
    background: 0 0 !important;
    border: none !important;
    padding: 0 0 0 10px !important
}

.old-form .table.dsFormTable td {
    text-align: center !important;
    vertical-align: middle
}

.aui .old-form .nav>li>a:focus,
.aui .old-form .nav>li>a:hover {
    color: #333 !important
}

.old-form .alpaca-field-checkbox input {
    margin: 0 10px 10px !important
}

.old-form .alpaca-field-focused .btn-group .multiselect-container,
.old-form .multiselect-container:ACTIVE,
.old-form .multiselect-container:FOCUS,
.old-form .multiselect-container:hover {
    display: block !important
}

.old-form .alpaca-field-radio .alpaca-control-label {
    position: inherit !important
}

.old-form .form-input-80 .btn-group button.multiselect,
.old-form .form-input-80 .multiselect-container {
    margin-left: 20% !important
}

.old-form .form-input-90 .btn-group button.multiselect,
.old-form .form-input-90 .multiselect-container {
    margin-left: 10% !important
}

.old-form .alpaca-control.radio {
    margin-left: 40px !important
}

.old-form .nobutton .alpaca-array-toolbar {
    display: none !important
}

.old-form .alpaca-array-actionbar-action.btn {
    height: 20px !important;
    text-align: center;
    color: #333 !important
}

.old-form .alpaca-field-table td {
    border-left: 1px solid #ddd !important
}

.old-form tr.alpaca-field-tablerow>td.alpaca-container-item input {
    margin-left: 0 !important
}

.old-form .alpaca-array-toolbar-action.btn.btn-default.btn-sm {
    text-indent: -9999px;
    line-height: 0;
    padding: 5px 25px
}

.old-form .alpaca-array-toolbar-action.btn.btn-default.btn-sm::after {
    content: "Thêm mới";
    text-indent: 0;
    display: block;
    line-height: 0;
    position: relative;
    top: -7px
}

.old-form .alpaca-field [class*=span] {
    float: left;
    min-height: 1px
}

.old-form .alpaca-field table label {
    display: none !important;
}

.old-form .span1 {width: 8.333333333%;float: left;min-height: 1px;}
.old-form .span2 {width: 16.666666667%;float: left;min-height: 1px;}
.old-form .span3 {width: 25%;float: left;min-height: 1px;}
.old-form .span4 {width: 33.333333333%;float: left;min-height: 1px;}
.old-form .span5 {width: 41.666666667%;float: left;min-height: 1px;}
.old-form .span6 {width: 50%;float: left;min-height: 1px;}
.old-form .span7 {width: 58.333333333%;float: left;min-height: 1px;}
.old-form .span8 {width: 66.666666667%;float: left;min-height: 1px;}
.old-form .span9 {width: 75%;float: left;min-height: 1px;}
.old-form .span10 {width: 83.333333333%;float: left;min-height: 1px;}
.old-form .span11 {width: 91.666666667%;float: left;min-height: 1px;}
.old-form .span12 {width: 100%;float: left;min-height: 1px;}
.old-form .row-fluid {overflow: hidden;min-height: 1px;}
.old-form.alpaca-field .alpaca-field-object {
	border: 0;
	padding: 0;
}
.old-form.alpaca-field .alpaca-field-object legend {
    display: block;
}

.old-form .alpaca-field .radio {
	font-size: 13px !important;
}
.old-form .alpaca-field .radio input {
	height: auto !important;
}