html {
	overflow: auto;
}
body #wrapper {
	padding-top: 0;
	background-color: transparent !important;
}
body a, body a:hover, body a:focus {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background-color: #f5f4f1 !important;
}

.home-theme {
	background: url("../images/bg-main-1920.jpg") left center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

@media screen and (min-width: 1367px) {
	body #banner .container, body #navigation .container, body #footer .container, body #footer-home .container {
		max-width: 1300px;
		margin: auto;
	}
}

@media screen and (max-width: 991px) {
	.home-theme {
		 background: none;
	}
}



/*---------- Header ----------*/
#banner {
	padding: 10px 0;
	position: relative;
	z-index: 1;
	background-color: white;
}
#banner .container {
	padding: 0 15px;
	position: relative;
	display: flex;
	align-items: center;
}
#banner img {
	max-width: 100%;
	display: block;
}

.btn-banner {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid transparent;
	border-radius: 6px;
	margin-left: auto;
}
.btn-banner.btn-register {
	color: #007539;
	border-color: #007539;
	background: rgb(224,231,68);
	background: -moz-linear-gradient(left,  rgb(224,231,68) 0%, rgb(130,188,38) 100%);
	background: -webkit-linear-gradient(left,  rgb(224,231,68) 0%,rgb(130,188,38) 100%);
	background: linear-gradient(to right,  rgb(224,231,68) 0%,rgb(130,188,38) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e744', endColorstr='#82bc26',GradientType=1 );
}
.btn-banner.btn-login {
	margin-left: 15px;
	color: white;
	border-color: #006038;
	background: rgb(0,156,85);
	background: -moz-linear-gradient(left,  rgb(0,156,85) 0%, rgb(0,108,61) 100%);
	background: -webkit-linear-gradient(left,  rgb(0,156,85) 0%,rgb(0,108,61) 100%);
	background: linear-gradient(to right,  rgb(0,156,85) 0%,rgb(0,108,61) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009c55', endColorstr='#006c3d',GradientType=1 );
}

.signed-in .btn-banner, .signed-out #react-root {
	display: none !important;
}

.home-theme #banner {
	background-color: transparent;
}



/*---------- Footer ----------*/
#footer {
	background-color: #008a4d;
	padding: 10px 0;
	color: white;
}
#footer .container {
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 15px;
}
#footer p {
	margin-bottom: 0;
}
#footer label {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
#footer span {
	display: block;
}

#home-theme #footer {
	background-color: rgba(0,151,83,0.8);
}



/*---------- Navbar ----------*/
#navigation {
	background-color: white;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
#navigation ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	overflow: hidden;
	margin: auto;
	padding: 0;
}
#navigation li a {
	padding: 10px 15px;
	display: block;
	color: #007539;
	position: relative;
}
#navigation li:hover a, #navigation li.selected a {
	color: #007539;
}
#navigation li:hover a:before, #navigation li.selected a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #70c411;
}
#navigation li.selected a {
	font-weight: bold;
}
#navigation .child-menu {
	display: none;
}
#navigation .nav-toggle {
	display: none;
	border: 1px solid #007539;
	color: #007539;
	padding: 3px 12px;
	border-radius: 4px;
	font-weight: normal;
	float: right;
	position: relative;
	z-index: 5;
	margin: 10px 15px;
}

.home-theme #navigation {
	background-color: transparent;
	box-shadow: none;
}

@media screen and (max-width: 991px) {
	#navigation {
		min-height: 48px;
	}
	#navigation .nav-toggle {
		display: inline-block;
	}
	.mBody #navigation > ul {
		display: none;
		width: 100%;
		position: absolute;
		background-color: white;
		left: 0;
		top: 100%;
		border: 1px solid #ccc;
		padding: 0 !important;
		max-height: 200px;
		overflow: auto;
		z-index: 5;
	}
	#navigation li a {
		padding: 10px 15px;
	}
	#navigation li:not(:first-child) {
		margin-left: 0;
	}
	#navigation .custom-link {
		padding: 0;
	}
	#navigation .custom-link a {
		border: 0;
	}
	.custom-link {
		display: block;
	}
	.signed-out #react-root {
		display: none;
	}
	.home-theme #navigation {
		position: static;
	}
}



/*---------- BTT & BTH ----------*/
body .btt, body .bth {
	position: fixed;
	bottom: 100px;
	right: 30px;
	background-color: #70c411;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	display: none;
	color: white;
	font-size: 24px;
}
body .btt.btt-is-visible, body .bth.btt-is-visible {
	display: block;
}
body .btt:hover, body .bth:hover {
	background-color: #007539;
	color: white !important;
}
body .bth {
	right: auto;
	left: 30px;
}



/*---------- Account Info ----------*/
#react-root {
	min-width: 300px;
	position: absolute;
	top: 5px;
	right: 15px;
}
#react-root span {
	font-size: 13px;
	color: #007539;
}
#react-root span > i, #react-root .v-icon {
	color: #007539 !important;
}
#react-root .login_wrap_app_panel > div > div:last-child {
	left: auto !important;
	right: 0;
	top: 110% !important;
}



/*---------- Change Theme Color (mostly) ----------*/
.page-theme .primary--text, .page-theme .status__counter, .page-theme h3 {
	color: #007539 !important;
}
.page-theme .primary {
	background-color: #007539 !important;
	border-color: #007539 !important;
}
.background-triangle-big, .background-triangle-small, .page-theme .v-card__title, .page-theme .blue.darken-3 {
	background-color: #007539 !important;
}
.background-triangle-big:before {
	border-top: 26px solid #007539 !important;
}
.background-triangle-small:before {
	border-top: 19px solid #007539 !important;
}
.page-theme .v-icon {
	color: #007539 !important;
}
.page-theme .primary .v-icon, .page-theme .blue.darken-3 .v-icon, .page-theme .background-triangle-small .v-icon {
	color: white !important;
}



/*---------- Login ----------*/
.body_login {
	background: url("../images/bg-login.jpg") center center no-repeat;
	background-size: cover;
	min-height: 100vh;
}
body.body_login * {
	font-size: 14px;
}
.body_login #banner, .body_login #navigation, .body_login #footer {
	display: none;
}
.body_login .theme--light.application {
	background-color: transparent;
}
.body_login .application--wrap {
	display: flex;
	align-content: center;
	justify-content: center;
}
.body_login .application--wrap > .v-content {
	flex: 0 0 auto;
}
.body_login #login_container {
	max-width: 520px;
	padding: 30px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	margin: auto;
}
.body_login .logo img {
	margin-bottom: 20px;
	max-width: 100%;
}
.body_login .header_login + div {
	margin: 0 auto !important;
	max-width: 400p !importantx;
}
.body_login nav.primary {
	display: none;
}
.body_login nav + div {
	border: 0 !important;
	padding: 0 !important;
}
.body_login .v-text-field--box:focus, .body_login .v-text-field--box:active {
	color: #007539 !important;
    caret-color: #007539 !important;
}
.body_login .v-input__slot {
	border-bottom: 1px solid #c1c1c1 !important;
	background-color: white !important;
	padding: 0 !important;
}
.body_login .v-input__slot.v-input__prepend-inner {
	margin-top: 4px !important;
}
.body_login .v-text-field__slot input {
	font-size: 14px;
	margin-top: 0 !important;
}
.body_login .v-text-field__slot .v-icon, 
.body_login .header_login + div .primary--text, 
.body_login .header_login + div .v-icon {
	color: #007539 !important;
}
.body_login .v-text-field__details {
	display: none;
}
.body_login .v-text-field__slot input:-webkit-autofill,
.body_login .v-text-field__slot input:-webkit-autofill:hover, 
.body_login .v-text-field__slot input:-webkit-autofill:focus
.body_login .v-text-field__slot input:-webkit-autofill {
	border:none !important;
	-webkit-text-fill-color: #2a2a2a !important;
	transition: background-color 5000s ease-in-out 0s;
}
.body_login .v-text-field__slot input::-webkit-input-placeholder {color: #c1c1c1 !important; font-style: italic;}
.body_login .v-text-field__slot input:-moz-placeholder {color: #c1c1c1 !important; opacity: 1; font-style: italic;}
.body_login .v-text-field__slot input::-moz-placeholder {color: #c1c1c1 !important; opacity: 1; font-style: italic;}
.body_login .v-text-field__slot input:-ms-input-placeholder {color: #c1c1c1 !important; font-style: italic;}
.body_login .v-form > div:nth-child(3) {
	margin: 10px auto !important;
    display: flex;
    justify-content: space-between;
}
.body_login .v-form > div:nth-child(3) > div:first-child .v-input__slot {
	background-color: transparent !important;
	border: 0 !important;
	margin-bottom: 0;
}
.body_login .v-form > div:nth-child(3) > div:last-child {
	padding: 5px !important;
}
.body_login .v-form > div:nth-child(3) .primary--text, 
.body_login .header_login + div .v-input--selection-controls__ripple + i {
	color: #2a2a2a !important;
}
.body_login .v-form > div:nth-child(3) > div:last-child .primary--text:hover {
	color: #007539 !important;
}
.body_login .header_login + div .v-btn {
	border-radius: 6px;
	padding: 3px 25px;
	height: 34px;
	color: #007539 !important;
	background-color: transparent !important;
	border: 1px solid #007539 !important;
}
.body_login .header_login + div .v-btn:hover {
	background-color: #007539 !important;
	color: white !important;
}
.body_login .header_login + div .v-btn .v-icon {
	color: #007539 !important;
}
.body_login .header_login + div .v-btn:hover .v-icon {
	color: white !important;
}
.body_login .theme--light.v-sheet {
	background-color: transparent !important;
	border: 0 !important;
}
.body_login .fogot-pass .v-input__slot {
	max-width: 100%;
	margin-bottom: 15px;
}
.body_login .fogot-pass .v-text-field__slot input {
	border-bottom: 1px solid white;
}
.body_login .forgot-pass-wrapper {
	display: block;
}
.body_login .forgot-pass-wrapper .header_login {
	margin-top: 10%;
}
.body_login .forgot-pass-wrapper main form {
	padding: 30px !important;
	border-radius: 20px !important;
}
.body_login .forgot-pass-wrapper main form > div:nth-child(3) > div > div:first-child {
	background-color: transparent !important;
	justify-content: flex-start !important;
}
.body_login .forgot-pass-wrapper .header_login + div .v-btn:last-child {
	display: inline-block;
}
.body_login .forgot-pass-wrapper p {
	text-align: center;
	color: white;
}
.body_login .footer_login .container {
	max-width: inherit !important;
	padding: 0 !important;
}
.body_login .forgot-pass-wrapper img + button {
	border: 0 !important;
	background-color: transparent !important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	min-width: inherit !important;
}
.body_login .footer_login {
	clear: both;
	padding: 30px 0 0;
	text-align: center;
}