// Main Variable
$main-color: #1a7cf2;
$main-color-light: lighten($main-color, 8%);
$main-color-super-light: lighten($main-color, 30%);
$secondary-color: #004b18;
$secondary-color-dark: #004b18;
$main-text-color: #2a2a2a;
$gray-color: #f6f6f6;
$gray-color-medium: #ebebeb;
$gray-color-dark: #a7a7a7;
$text-color: #000;
$text-color-2: #939393;